#(logging/init {:console true})
(logging/init {:file "/var/log/riemann/riemann.log"})
(tcp-server {})
(instrumentation {:enabled? false})

(streams

(where (tag "YOUR_APPLICATION_TAG")
	#(info %)
)

(by [:host :service]
      ;Send events to InfluxDB
      (influxdb
        (let [servicename (:service event)
              hostname (:host event)]
          {:host "127.0.0.1"
          :port 8086
          :scheme "http"
          :db "riemanndata"
          :series (clojure.string/join "." [(:host event) (:service event)])}))))

